[Unit]
Description=Generate persistent TLS certificate and key for KubeStellar kiosk
RequiresMountsFor=/var/lib/k0s
After=network-online.target systemd-tmpfiles-setup.service
Before=k0scontroller.service

[Service]
Type=oneshot
RemainAfterExit=yes
StateDirectory=k0s
ExecStart=/usr/share/k0s/kiosk-tls/generate-kiosk-tls.sh
